<?xml version="1.0" encoding="UTF-8"?> 
<eu.fincon.Vakanzengrabber>
	<Browser>Chrome</Browser>
	<Seiten>
		<Seite name="FreelancerMap" url="http://www.freelancermap.de" benutzername="Manuel.Naas@fincon.eu" passwort="start123#"/>
		<Seite name="FreelanceDE" url="http://www.freelance.de" benutzername="Manuel.Naas@fincon.eu" passwort="start123#"/>
	</Seiten>
</eu.fincon.Vakanzengrabber>